<article class="row mt-4">
  <section class="structure_table nameTitle col-4">{{ user }}</section>
  <section class="structure_table title col-8">Name Chat</section>
</article>
<article class="row">
  <section class="structure_table rooms col-4 max-height nopadding">
    {{#each room}}
      <button class="room btn btn-primary">{{name}}</button>    
    {{/each}}
  </section>
  <section class="structure_table mainMessage nopadding col-8 max-height">

    {{#each array}}
        <section class="display padding mt-2">
            {{ nameuser }}: {{ text }}
            <span class="time-right">{{time time}}</span>
        </section>
    {{/each}}
    
    <section class="send_message">
      <input type="text" />
      <button>Enviar</button>
    </section>
  </section>
</article>
